body {
  background-color: #bf7272;
  font-family: 'Cascadia Code', monospace;
  margin: 0;
  padding: 0;
}

.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.pokedex-lightindicator {
  background-color: #e60000;
  height: 80px;
  width: 67%;
  border: 10px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}.pokedex-lightindicatorbotom {
   background-color: #e60000;
   height: 160px;
   width: 67%;
   border: 10px solid black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
 }

.sensor {
  gap: 1em;
  margin: 1em;
  background-color: #150204;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pokesensor {
  display: flex;
  gap: 2em;
  margin: 2em;
}

.pokedex-border {
  background-color: #e2e9ef;
  border: 10px solid #150204;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.pokedex-border h1 {
  color: #150204;
  font-size: 24px;
  margin-bottom: 20px;
}

.pokemon-image {
  width: 250px;
  margin: 0 auto 20px;
  display: block;
}

.pokedex-description {
  color: #2c3e50;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

